:root{
  --background-1: #cee8ff;
  --background-2: #dff9ff;
  --background-3: #c2c2ea;
  --sidebar: #0d0d16;
  --font-col-1: #a5a5ff;
  --font-col-1-2: #7575d0;
  --font-col-2: #20203e;
  --font-col-3: #0f1448;
  --font-col-4: #8e8eba;
  --font-col-success: #28c128;
  --font-col-error: #e73d2a;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'main-font', Arial, Helvetica, sans-serif;
}
html, body {
  background-color: var(--background-3);
  overflow-x: hidden;
  min-width: 900px;
  height: 100vh;
  width: 100vw;
}
main {
  position: absolute;
  left: 260px;
  top: 0;
  bottom: 0;
  right: 0;
  
}
a {
  text-decoration: none;
}
.split-line {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 85%;
  background: none;
  border-bottom: solid var(--font-col-3) 2px;
}
.container-1 {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  color: var(--font-col-2);
}
.task-options {
  width: 800px;
  height: 900px;
  background-color: var(--background-1);    
  border-radius: 10px;
  background: linear-gradient(145deg, #afafcc, #d0d0f3);
  box-shadow:  10px 10px 10px #b4b4d3,
                -10px -10px 10px #d0d0f3;
}
.task-options .title {
  display: block;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  margin: 15px 10px;
}
.options-form {
  margin: 25px auto;
  width: 80%;
  font-size: x-large;
}
.options-form .task-detail {
  display: block;
  margin-bottom: 15px;
}
.options-form .task-detail input[type=text] {
  float: right;
  border: none;
  padding-left: 5px;
  background: linear-gradient(145deg, var(--background-3), var(--background-3));
  border-bottom: solid 2px var(--font-col-4);
  border-right: solid 2px var(--font-col-4);
  box-shadow: 2px 2px 5px 0px var(--font-col-4);
  width: 70%;
  font-size: 1em;
  outline: none;
  border-radius: 5px;
}
.options-form .task-detail input[type=text]::placeholder {
  color: var(--font-col-4);
}
.options-form .task-description {
  display: block;
  margin-bottom: 120px;
}
.options-form .task-description textarea {
  float: right;
  border: none;
  padding-left: 5px;
  background: linear-gradient(145deg, var(--background-3), var(--background-3));
  border-bottom: solid 2px var(--font-col-4);
  border-right: solid 2px var(--font-col-4);
  box-shadow: 2px 2px 5px 0px var(--font-col-4);
  width: 70%;
  font-size: 1em;
  outline: none;
  resize: none;
  border-radius: 5px;
}
.options-form .task-description textarea::placeholder {
  color: var(--font-col-4);
}
.tags {
  width: 100%;
  display: block;
}
.tags span {
  display: inline-block;
  width: 100%;
  margin: 20px 0 30px;
}
.tags span textarea {
  float: right;
  border: none;
  padding-left: 5px;
  background: linear-gradient(145deg, var(--background-3), var(--background-3));
  border-bottom: solid 2px var(--font-col-4);
  border-right: solid 2px var(--font-col-4);
  box-shadow: 2px 2px 5px 0px var(--font-col-4);
  width: 70%;
  font-size: 1em;
  outline: none;
  resize: none;
  border-radius: 5px;
}
.tags textarea::placeholder {
  color: var(--font-col-4);
}
.deadline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
  width: 300px;
  margin: 25px auto;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: linear-gradient(145deg, var(--background-3), var(--background-3));
  box-shadow: 2px 2px 5px 0px var(--font-col-4);
  border-bottom: solid 2px var(--font-col-4);
  border-right: solid 2px var(--font-col-4);
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  transition: all 0.5s;
}
.checkmark i {
  opacity: 0%;
  transition: all 0.5s;
  font-size: medium;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.deadline input {
  display: hidden;
  visibility: hidden;
}
.deadline input:hover + .checkmark i{
  opacity: 100%;
  color: var(--font-col-3);
}
.deadline input:checked + .checkmark {
  background: var(--font-col-3);
}
.deadline input:checked + .checkmark i {
  opacity: 100%;
  color: var(--background-2);
}
.date-select {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  column-gap: 25px;
  margin: auto auto;
  opacity: 50%;
  transition: all 0.5s;
  pointer-events: none;
}
.date-select.enabled {
  opacity: 100%;
  pointer-events: auto;
}
.date-select span {
  font-size: inherit;
  height: 2rem;
}
.date-select span select {
  width: 100px;
  height: 100%;
  font-size: 0.8em;
  border-radius: 4px;
  background: linear-gradient(145deg, var(--background-3), var(--background-3));
  border: none;
  border-bottom: solid 2px var(--font-col-4);
  border-right: solid 2px var(--font-col-4);
  box-shadow: 2px 2px 5px 0px var(--font-col-4);
}
.time-select {
  display: flex;
  justify-content: center;
  margin: 25px;
  opacity: 50%;
  pointer-events: none;
  height: 2rem;
}
.time-select input {
  height: 100%;
  font-size: 0.8em;
  border-radius: 4px;
  background: linear-gradient(145deg, var(--background-3), var(--background-3));
  border: none;
  border-bottom: solid 2px var(--font-col-4);
  border-right: solid 2px var(--font-col-4);
  box-shadow: 2px 2px 5px 0px var(--font-col-4);
}
.time-select.enabled {
  opacity: 100%;
  pointer-events: auto;
}
.submit-button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: solid 2px var(--font-col-3);
  text-decoration: none;
  color: var(--background-2);
  padding: 10px 8px;
  border-radius: 10px;
  transition: 0.5s;
  font-size: large;
  background: var(--font-col-3);
  box-shadow: 3px 3px 15px -4px rgba(0,0,0,0.54);
  cursor: pointer;
}
.submit-button:hover {
  border: solid 2px var(--font-col-1);
  background: var(--font-col-1);
  color: var(--font-col-3);
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.creation-success {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  padding: 15px;
  font-size: larger;
  color: var(--font-col-success);
  text-align: center;
  background-color: var(--font-col-3);
  border-radius: 20px;
  margin-bottom: 25px;
  z-index: 9999;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}
.creation-success.hide {
  animation-name: fadeOut;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.completed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
  width: 250px;
  margin: 25px auto;
  cursor: pointer;
}
.checkbox {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: linear-gradient(145deg, var(--background-3), var(--background-3));
  box-shadow: 2px 2px 5px 0px var(--font-col-4);
  border-bottom: solid 2px var(--font-col-4);
  border-right: solid 2px var(--font-col-4);
  height: 25px;
  width: 25px;
  border-radius: 40%;
  display: inline-block;
  transition: all 0.5s;
}
.checkbox i {
  opacity: 0%;
  transition: all 0.5s;
  font-size: medium;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.completed input {
  display: hidden;
  visibility: hidden;
}
.completed input:hover + .checkbox i{
  opacity: 100%;
  color: var(--font-col-3);
}
.completed input:checked + .checkbox {
  background: var(--font-col-3);
}
.completed input:checked + .checkbox i {
  opacity: 100%;
  color: var(--background-2);
}