:root{
    --background-1: #cee8ff;
    --background-2: #dff9ff;
    --background-3: #c2c2ea;
    --sidebar: #0d0d16;
    --font-col-1: #a5a5ff;
    --font-col-1-2: #7575d0;
    --font-col-2: #20203e;
    --font-col-3: #0f1448;
    --font-col-4: #8e8eba;
    --font-col-success: #28c128;
    --font-col-error: #e73d2a;
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'main-font', Arial, Helvetica, sans-serif;
}
body {
    background-color: var(--background-3);
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
.log-in-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    border-radius: 2rem;
    color: var(--background-1);
    background: rgb(13,13,22);
    background: linear-gradient(195deg, rgba(13,13,22,1) 41%, rgba(22,22,40,1) 71%,
     rgba(31,31,56,1) 96%, rgba(32,32,62,1) 100%, rgba(41,41,75,1) 100%);

    width: 350px;
    height: 400px;
    margin: auto;
    box-shadow: 
      0 2px 10px #00000033,
      0 10px 20px #0000004d,
      0 30px 60px 1px #00000080;
}
.log-in-box .title {
    grid-row: 1/1;
    margin-top: 40px;
    box-shadow: 0 2px 0 0 var(--background-1);
    height: 50px;
    font-size: larger;
}
.log-in-box .form {
    grid-row: 2/2;
    width: 85%;
    margin-top: 50px;
}
.log-in-box .form .label {
    font-size: 1.4rem;
    margin-bottom: 5px;
}
.log-in-box .form .label i {
    float: right;
    font-size: large;
    margin-right: 10px;
}
.log-in-box .form input[type=text].text {
    border: none;
    background: none;
    box-shadow: 0 2px 0 0 #7575d0;
    width: 100%;
    color: var(--font-col-1);
    font-size: 1em;
    outline: none;
    margin-bottom: 15px;
    padding-left: 5px;
}
.log-in-box .form input[type=password].password {
    border: none;
    background: none;
    box-shadow: 0 2px 0 0 #7575d0;
    width: 100%;
    color: var(--font-col-1);
    font-size: 1em;
    outline: none;
    margin-bottom: 25px;
    padding-left: 5px;
}
.log-in-box .form .text::placeholder {
    color: rgb(59, 69, 77);
}
.log-in-box .form .password::placeholder {
    color: rgb(59, 69, 77);
}
.log-in-box .submit {
    display: flex;
    align-items: center;
    position: relative;
}
.log-in-box .form .btn-login {
    border: none;
    background: none;
    text-decoration: none;
    color: var(--background-1);
    box-shadow: 0 0 0 2px var(--background-1);
    border-radius: 4px;
    padding: 5px 2em;
    transition: 0.5s;
    font-size: larger;
  }
.log-in-box .form .btn-login:hover {
    border: none;
    background: var(--background-1);
    color: rgb(59, 69, 77);;
    transition: 0.5s;
  }
.log-in-box .forgot {
    color: var(--background-1);
    float: right;
    font-size: large;
    transition: all 0.5s;
    justify-self: right;
    position: absolute;
    right: 0;
}
.log-in-box .forgot:hover {
    color: #a3d0f8;
  }
.log-in-box .create-acc {
    grid-row: 3/-1;
    margin-top: 25px;
}
.log-in-box .create-acc a {
    color: #8f8fff;
    transition: all 0.5s;
}
.log-in-box .create-acc a:hover {
    color: #7575d0;
}
/* .errorbox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    border-radius: 5px;
    background: linear-gradient(145deg, #afafcc, #d0d0f3);
    box-shadow:  10px 10px 10px #b4b4d3,
                 -10px -10px 10px #d0d0f3;
    color: #612424;
    padding: 10px 15px;
    margin: 25px 25px;
    font-size: large;
}
.errorbox span {
    display: inline-block;
    height: 100%;
    padding-left: 5px;
} */
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
@keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
}
.errorbox {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    padding: 15px;
    font-size: larger;
    color: var(--font-col-error);
    text-align: center;
    background-color: var(--font-col-3);
    border-radius: 20px;
    margin-bottom: 25px;
    z-index: 9999;
    animation-name: fadeIn;
    animation-duration: 0.5s;
}
.errorbox.hide {
    animation-name: fadeOut;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}