:root{
    --background-1: #cee8ff;
    --background-2: #dff9ff;
    --background-3: #c2c2ea;
    --sidebar: #0d0d16;
    --font-col-1: #a5a5ff;
    --font-col-1-2: #7575d0;
    --font-col-2: #20203e;
    --font-col-3: #0f1448;
    --font-col-4: #8e8eba;
    --font-col-success: #28c128;
    --font-col-error: #e73d2a;
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'main-font', Arial, Helvetica, sans-serif;
  }
html, body {
    background-color: var(--background-3);
    overflow-x: hidden;
    min-width: 900px;
    height: 100vh;
    width: 100vw;
  }
main {
    position: absolute;
    left: 260px;
    top: 0;
    bottom: 0;
    right: 0;
}
a {
    text-decoration: none;
  }
.split-line {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 85%;
    background: none;
    border-bottom: solid rgb(0, 0, 0) 2px;
}
.container-1 {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    color: var(--font-col-2);
}
.view-tasks {
    width: 900px;
    height: 900px;
    background-color: var(--background-1);    
    border-radius: 10px;
    background: linear-gradient(145deg, #afafcc, #d0d0f3);
    box-shadow:  10px 10px 10px #b4b4d3,
                 -10px -10px 10px #d0d0f3;
    justify-content: center;
}
.view-tasks .title {
    display: block;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    margin: 15px 10px;
}
.filter {
    padding-top: 20px;
    width: 80%;
    font-size: x-large;
    margin: 0 auto;
    display: block;
}
.tags {
    display: flex;
    justify-content: center;
    width: 100%;
  }
.tags span {
    display: inline-block;
    width: 100%;
    margin: 20px 0 30px;
  }
.tags span textarea {
    float: right;
    border: none;
    padding-left: 5px;
    background: linear-gradient(145deg, var(--background-3), var(--background-3));
    border-bottom: solid 2px var(--font-col-4);
    border-right: solid 2px var(--font-col-4);
    box-shadow: 2px 2px 5px 0px var(--font-col-4);
    width: 70%;
    font-size: 1em;
    outline: none;
    resize: none;
    border-radius: 5px;
}
.tags textarea::placeholder {
    color: var(--font-col-4);
}
.tags {
    display: flex;
    justify-content: center;
    width: 100%;
  }
.tags span {
    display: inline-block;
    height: 50px;
    width: 100%;
    margin: 20px 0 30px;
  }
.sort span input {
    float: right;
    border: none;
    padding-left: 5px;
    background: linear-gradient(145deg, var(--background-3), var(--background-3));
    border-bottom: solid 2px var(--font-col-4);
    border-right: solid 2px var(--font-col-4);
    box-shadow: 2px 2px 5px 0px var(--font-col-4);
    width: 70%;
    font-size: 1em;
    outline: none;
    resize: none;
    border-radius: 5px;
}
.sort input::placeholder {
    color: var(--font-col-4);
}
.tasks {
    max-height: 500px;
    width: 80%;
    margin: 25px auto;
    display: flex;
    justify-content: center;
}
.tasks table {
    width: 100%;
    background: linear-gradient(145deg, var(--background-3), var(--background-3));
    border: none;
    border-radius: 10px;
    border-bottom: solid 2px var(--font-col-4);
    border-right: solid 2px var(--font-col-4);
    box-shadow: 2px 2px 5px 0px var(--font-col-4);
    border-collapse: collapse;
    overflow: hidden;
}
.tasks th,
.tasks td {
  padding: 10px;
  text-align: left;
  font-size: 16px;
  border-bottom: 2px solid var(--background-3);
}
.tasks th:not(:last-child),
.tasks td:not(:last-child) {
    border-right: 2px solid var(--background-3);
}
.tasks th {
    background: linear-gradient(145deg, var(--font-col-1), var(--font-col-1));
    color: var(--font-col-2);
    font-size: large;
}
.tasks th:last-child {
    background: linear-gradient(165deg, #5e5eb6, var(--font-col-3));
}
.tasks tr {
    transition: all 0.5s;
}
.tasks tr:nth-child(even) {
    background: linear-gradient(145deg, #bdbde9, #bdbde9);
}
.tasks td:last-child {
    text-align: center;
    background-color: var(--font-col-3);
}
.tasks a {
    display: block;
    transition: all 0.5s ease;
    color: var(--background-2);
}
.tasks a:hover {
    padding: 10px 0;
}
.apply-filters {
    width: 130px;
    height: 50px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: solid 2px var(--font-col-3);
    text-decoration: none;
    color: var(--background-2);
    padding: 5px;
    border-radius: 10px;
    transition: 0.5s;
    font-size: large;
    background: var(--font-col-3);
    box-shadow: 3px 3px 15px -4px rgba(0,0,0,0.54);
    cursor: pointer;
    margin-bottom: 1.3rem;
}
.apply-filters:hover {
    border: solid 2px var(--font-col-1);
    background: var(--font-col-1);
    color: var(--font-col-3);
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
@keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
}
.error {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    padding: 15px;
    font-size: larger;
    color: var(--font-col-error);
    text-align: center;
    background-color: var(--font-col-3);
    border-radius: 20px;
    margin-bottom: 25px;
    z-index: 9999;
    animation-name: fadeIn;
    animation-duration: 0.5s;
}
.error.hide {
    animation-name: fadeOut;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}