<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kittask - Edit task {{ task.task_id }}</title>
    <link rel="stylesheet" href="../../static/css/sidebar.css">
    <link rel="stylesheet" href="../../static/css/edit-task.css">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
</head>
<body>
  <section class="sidebar">
    <div class="logo"><p>KITTASK</p></div>
    <nav>
      <ul>
        <li>
          <a href="{% url 'home' %}">
            <i class="fa-solid fa-house"></i>
            <span class="nav-item">Home</span>
          </a>
          <span class="tooltip">Home</span>
        </li>
        <li>
          <a href="{% url 'view_tasks' %}">
            <i class="fa-solid fa-calendar-days"></i>
            <span class="nav-item">Schedules</span>
          </a>
          <span class="tooltip">Schedules</span>
        </li>
        <li>
          <a href="">
            <i class="fa-solid fa-clipboard"></i>
            <span class="nav-item">TODO List</span>
          </a>
          <span class="tooltip">TODO List</span>
        </li>
      </ul>
      <div class="account-div">
        <div class="account">
          <i class="fa-solid fa-user"></i>
          <span>{{ fullname}}</span>
        </div>
        <div class="logout">
          <a href="{% url 'login' %}">
            <i class="fa-solid fa-right-to-bracket"></i>
            <span>Log-out</span>
          </a>
        </div>
      </div>
    </nav>
  </section>
    <main>
      <section class="container-1">
        <div class="task-options">
          <span class="title">Options - Edit your task</span>
          <div class="split-line"></div>
          <form class="options-form" method="post">
              {% csrf_token %}
              <label class="task-detail">Title: 
                <input 
                  type="text"
                  id="task-title" 
                  name="task-title"
                  maxlength="30"
                  placeholder="Your task title."
                  required
                  value="{{ task.title }}">
              </label>
              <label class="task-description">Description:
                <textarea
                  id="task-description" 
                  name="task-desc"
                  minlength="1" 
                  maxlength="100"
                  rows="4"
                  placeholder="Your task description.">{{ task.desc }}</textarea>
              </label>
              <div class="split-line"></div>
              <label class="tags">
                <span>Tags: 
                  <textarea
                  id="task-description" 
                  name="tags"
                  minlength="1" 
                  maxlength="100"
                  rows="2"
                  placeholder="Split with comma(,): urgent, family, ..">{{ task.tags }}</textarea>
                </span>
              </label>              
              <div class="split-line"></div>
              {% if task.deadline %}
              <label class="deadline">
                No Deadline:
                <input type="radio" name="deadline" value=""  onchange="resetDateTime()">
                <span class="checkmark">
                  <i class="fa-solid fa-check"></i>
                </span>
              </label>
              <label class="deadline">
                Include Deadline:
                <input type="radio" name="deadline" value="include-deadline" checked onchange="toggleDateTime(this)">
                <span class="checkmark">
                  <i class="fa-solid fa-check"></i>
                </span>
              </label>
              <div class="split-line"></div>
              <br>
              <div class="date-select">
                <span>
                  <label for="year">Year:
                    <select name="year" id="year" enabled></select>
                  </label>
                </span>
                <span>
                  <label for="month">Month:
                    <select name="month" id="month" enabled></select>
                  </label>
                </span>
                <span>
                  <label for="day">Day:
                    <select name="day" id="day" enabled></select>
                  </label>
                </span>
              </div>
              <div class="time-select">
                <label for="time">Time: 
                  <input type="time" name="time" id="time" value="00:00" disabled>
                </label>
              </div>
              {% else %}
              <label class="deadline">
                No Deadline:
                <input type="radio" name="deadline" value="" checked onchange="resetDateTime()">
                <span class="checkmark">
                  <i class="fa-solid fa-check"></i>
                </span>
              </label>
              <label class="deadline">
                Include Deadline:
                <input type="radio" name="deadline" value="include-deadline" onchange="toggleDateTime(this)">
                <span class="checkmark">
                  <i class="fa-solid fa-check"></i>
                </span>
              </label>
              <div class="split-line"></div>
              <br>
              <div class="date-select">
                <span>
                  <label for="year">Year:
                    <select name="year" id="year" disabled></select>
                  </label>
                </span>
                <span>
                  <label for="month">Month:
                    <select name="month" id="month" disabled></select>
                  </label>
                </span>
                <span>
                  <label for="day">Day:
                    <select name="day" id="day" disabled></select>
                  </label>
                </span>
              </div>
              <div class="time-select">
                <label for="time">Time: 
                  <input type="time" name="time" id="time" value="00:00" disabled>
                </label>
              </div>
              {% endif %}
              <div class="split-line"></div>
              <label class="completed">
                Mark as Done:
                <input type="checkbox" name="deadline" value="completed">
                <span class="checkbox">
                  <i class="fa-solid fa-check"></i>
                </span>
              </label>
              <button type="submit" class="submit-button">Submit Changes</button>
            </form>
          </div>
      </section>
      {% if edit_success %}
      <div id="creation-success" class="creation-success">
        <i class="fa-solid fa-check"></i> <span>Task was modified successfully.</span>
      </div>
      {% endif %}
    </main>
    <script src="../../static/scripts/add-task.js"></script>
    <script src="../../static/scripts/messages.js"></script>
</body>
</html>