<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kittask - Log In</title>
    <link rel="stylesheet" href="../../static/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
</head>
<body>
    <section class="container">
        <div class="log-in-box">
            <div class="title">
                <h1>Log-in to Account</h1>
            </div>
            <div class="form">
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <label class="label">Phone Number <i class="fa-solid fa-phone"></i>
                        <input type="text" name="phone" placeholder='Enter your phone number.'
                               class='text' id='username' minlength="3" maxlength="20" required><br>
                    </label>
                    <label class="label">Password <i class="fa-solid fa-key"></i>
                        <input type="password" name="password" placeholder='••••••••••••••' class='password'><br>
                    </label>
                    <div class="submit">
                        <button type="submit" class='btn-login' id='do-login'>Login</button>
                        <a href="" class='forgot'>Forgot Password?</a>
                    </div>
                </form>
            </div>
            <div class="create-acc">Need an account? <a href="{% url 'signup' %}">Sign Up</a></div>
        </div>
    </section>
    {% if error_msg %}
    <div class="errorbox">
        <i class="fa-solid fa-circle-exclamation"></i> <span>{{ error_msg }}</span>
    </div>
    {% endif %}
</body>
</html>